// Colours
$color-button: #787F8C;
$color-board: #ECEEEE;
$color-white: #FFF;
$color-card-text: #393C42;

$color-lightpurple: #AEADF0;
$color-lightpink: #C38D94;
$color-darkpink: #A76571;
$color-darkpurple: #565676;

// Spacing
$xs-size: .4rem;
$s-size: 1.2rem;
$m-size: 1.4rem;
$l-size: 2.5rem;

// Breakpoints
$desktop-breakpoint: 45rem;
$sm-phone-bkp: 27.5em;  // 440px
$m-phone-bkp: 33.125em; // 530px

// Used in height media query
$landscape-bkp: 34.38em;  // 550px
