// Colours - these are examples!
$color-primary: #b0a565;
$color-primary-light: #ede68a;
$color-primary-dark: #2A2400;
$color-secondary: #4C5100;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop-breakpoint: 45rem;
$sm-phone-bkp: 27.5em;  // 440px
$m-phone-bkp: 33.125em; // 530px

// Used in height media query
$landscape-bkp: 34.38em;  // 550px
